
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;

}
body{
    background-image: url('lasalle2.jpg');
    background-size: cover;
}


form{
    width: 500px;
    min-height: 700px;
    border-style: solid;
    border-color: rgb(94, 243, 111);
    background-color:green;
    background-size: cover;
    border-radius: 15px;
    padding: 60px;
    margin-right:200px;
    margin: 0 auto;
}

input{
    display: block;
    padding: 10px;
    font-family: 'Prompt', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 255, 240);
    width: 95%;
    margin: 10px auto;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    outline: none;
    
}

button{
    float: right;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    min-width: 100px;
    margin-right: 30px;
    border: none;
    background-color: rgb(39, 228, 29);
    color: white;
    cursor: pointer;
    
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}

label{
    padding: 20px 30px;
}