
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');




*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}


body{
    background-image: url('LaSalleCheckLabs.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}


.container1{
    margin-top: 10px;
}


table{
 
  background-color: green;
  background-image: linear-gradient(green, rgb(18, 83, 7));
}
button{
    margin: 10px;

}
.contact_div_2{
    display: flex;
    justify-content: center;
    
}

tr{
    padding: 30px 100px;
}

td{
    padding: 20px 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
    position: relative;
    z-index: 3;
}
a:hover{
    color: rgb(69, 254, 69);
    
}
h4{
     color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
     
}
button{
    padding: 10px 30px;
    background-color: green;
    cursor: pointer;
    transition: transform 0.5s ease;
    border-radius: 10px;
    color: white;
}

button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: translateY(-3px);
    font-family: 'Roboto', sans-serif;
}

input{
    padding: 5px 10px;
    margin: 0px 10px 5px;
    font-family: 'Roboto', sans-serif;
}

select{
    padding: 5px 10px;

}

.nav-bar{
    background-color: green;
    width: 100%;
    min-height: 100px;
    display: flex;
    
}
.box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.box1{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

li{
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

li a{
    border-style: none;
}
a{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}

img{
    width: 75px;
    height: 75px;
    margin-left: 10px;
}

h2{
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    animation: UserAnim 1s ease forwards;

}
.img-1{
    margin-right: 100px;
    width: 100px;
    float: left;


    
}

.popup{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:100px;
    display: flex;
    justify-content: flex-end;
    display: hidden;
    z-index: 1;
    


}

.popuppage{

 width: 40%;
 min-height: 100px;
 background-color: white;
 position: relative;
 margin: 0 auto;
 margin-right: 200px;
 margin-left: 300px;
 display: none;
 justify-content: center;
 align-items: center;

 


}
.boxes{
    width: 50%;
    min-height: 100px;
    
}

.li1{
    display: block;
}


.viewpopup{
    display: block;
}


button{
    position: relative;
    z-index: 3;
}



@keyframes UserAnim {

    from{

         transform: scale(0.1); 
         opacity: 0.1;

    }

    to{
        transform: scale(1); 
        opacity: 1;
         

    }
    
}

