*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body{
    background-image: url('login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
   
    
    
}
h1{
    color: rgb(252, 252, 252);
    text-align: center;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 50px;
    
}
*{
    box-sizing: border-box;
}
form{
    width: 500px;
    min-height: 600px;
    border-style: solid;
    border-color: rgb(21, 194, 61);
    background-color: rgb(74, 74, 74);
    border-radius: 15px;
    padding: 60px;
    margin: 0 auto;
    margin-top: 50px;
   
}

input{
    display: block;
    padding: 10px;
    font-style: normal;
    color: rgb(19, 147, 38);
    background-color: whitergb(94, 134, 243);
    width: 95%;
    margin: 10px auto;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(19, 147, 38);
    border-width: 5px;
    outline: none;
}

button{
    float: right;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    min-width: 100px;
    margin-right: 30px;
    border: none;
    background-color: rgb(24, 203, 69);
    color: white;
    cursor: pointer;
    
}
label{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;

}

.Nav-bar{
    width: 100%;
    min-height: 300px;
    background-color: red;
}
.error{
    color: rgb(255, 75, 75);
    
    background-color: white;
    
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 103, 103);
    border-width: 3px;
    font-family: 'Prompt', sans-serif;


}
form a{
   
    color: aliceblue;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    background: black;
    padding: 30px;
    border-radius: 30px;
    
    float: left;

}
img{
    width: 200px;
}


.navbar{
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.Form{
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    top: 100px;
    
}
.img1{
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
}

.navbar h2{
    color: white;
    margin-left: 100px;
    font-family: 'Prompt', sans-serif;

}
.navbar h3{
    color: white;
    margin-left: 110px;
    font-family: 'Mooli', sans-serif;
    margin-top: 0;
    font-size: 15px;
}
.Caution{
    width: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.black{
width: 100%;
min-height: 600px;
background-color: black;
display: flex;
justify-content: center;
align-items: flex-start;
}
.img2{
    width: 150px;
    margin-top: 100px;
}
.img3{
    position: relative;
    width: 100%;
    min-height: 300px;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}
.navbarr{
    position: absolute;
    width: 100%;
    min-height: 300px;
    background-color: red;
    z-index: 1;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{ 
    color: white;
    display: inline;
    margin: 20px;
    
}
li a{
color: white;
text-decoration: none;

}

label{
    color: rgb(47, 234, 63);
   
    
    
    
}
