@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');




*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;


}
body{
    background-image: url('pics3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;

}


h1{
    margin-right: 50px;
    color: white;
    font-size: 50px;
    background-color: green;
    padding: 30px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

label{
    width: 100%;
    color: white;
    margin: 30px;
    text-align: center;
}

input{
    display: block;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-color: green;
}

form{
    display: block;
    margin-top: 50px;
    width: 100%;
    margin: 0 auto;
}
button{
   
    padding: 20px;
    margin-left: 60px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    margin-top: 10px;
    margin-right: 100px ;
}

button:hover{

    background-color: rgb(68, 205, 50);
           

}

select{
    padding:10px;
}

