@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');






*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

body{
    background-image: url('LaSalleCheckLabs.png');
    background-repeat:no-repeat ;
    background-size: cover;
}

table{
    background-color: green;
    margin: 0 auto;
    
}

td{
    padding: 10px;
    color: white;
}

h1{
    text-align: center;
    margin-top: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    border-style: solid;
    padding: 5px;
    transition: color 0.5s ease;
}

a:hover{
    color: rgb(139, 252, 10);
}
.contact_div_2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
button{
   padding:20px 50px;
   background-color: green;
   cursor: pointer;
   color: white;
   border-radius: 20px;
   transition: background-color 0.5s ease;
}

button:hover{
   background-color: rgb(47, 255, 82);
   color: black;
}
   