@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Open+Sans:wght@300&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('lasalle.jpg');
    background-size: cover;
}

table{
    background-color: green;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchbar{
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 10px;
    margin: 10px;
}
td{
    padding: 30px;
}

a{
    text-decoration: none;
    outline: none;
    color: rgb(141, 250, 57);
}

button{
    padding: 20px 30px;
    margin-top:20px;
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

button:hover{
    background-color: green;
    color: white;
    outline: none;
}

form{
    color: green;
}

.submit{
    padding: 10px 20px;

}
.field1{
    padding: 10px 20px;

}

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
a:hover{
    background-color: white;
    padding: 10px 5px;
}