@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}


body{
  background-image: url('pics3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    
    
}

.container1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 300px;
    border-style: solid;
    border-color: rgb(94, 243, 111);
    background-color:green;
    background-size: cover;
    border-radius: 15px;
    padding: 60px;
    margin-right:200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

input{
    display: block;
    padding: 5px 30px;
    border-radius: 10px;
   
}

label{
    margin-bottom: 20px;
    color: white;
}

button{
    margin-top: 20px;
    margin-left: 100px;
    background-color: rgb(0, 196, 0);
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: transform 0.5s ease;
    cursor:pointer;
}

button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}

select{
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 5px;
}


h1{
    
    margin-top: 50px;
    color: white;
    text-align: center;
    background-color: green;
    border-style: solid;
    border-color:white;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    animation: opacity 1.5s ease forwards;

}



@keyframes opacity {
    from{
      opacity: 0.1;
    }
    to{
      opacity: 1;
    }
}



