@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');




*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}
body{
    background-image: url('pics3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


h1{
    margin-right: 50px;
    color: white;
    font-size: 50px;
    background-color: green;
    padding: 30px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

label{
    color: white;
    margin: 30px;
    font-size: 30px;
}

input{
    
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-color: green;
}

form{
    display: block;
    margin-top: 50px;
}
button{
    padding: 20px;
    margin-left: 200px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 20px;
    transition: background-color 0.5s ease;
}

button:hover{

    background-color: rgb(68, 205, 50);
           

}

